@font-face {
  font-family: SpaceGrotesk-Bold;
  src: url('fonts/otf/SpaceGrotesk-Bold.otf');
}

@font-face {
  font-family: SpaceGrotesk-Medium;
  src: url('fonts/otf/SpaceGrotesk-Medium.otf');
}

@font-face {
  font-family: SpaceGrotesk-Regular;
  src: url('fonts/otf/SpaceGrotesk-Regular.otf');
}

@font-face {
  font-family: SpaceGrotesk-Light;
  src: url('fonts/otf/SpaceGrotesk-Light.otf');
}

body {
  font-family: SpaceGrotesk-Light;
  font-size: 16px;
  color: #000;
  background-color: rgb(240, 240, 240);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.profile-pic {
  border-radius: 100%;
  border: solid blue 2px;
  margin: 0 auto;
  display: block;
}

ul, ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding-bottom: 5px;
}

.card {
  margin: 0 auto 10px;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 100%;
}

.card a {
  text-decoration: none;
}

.card a:visited {
  color: blue;
}

.p {
  max-width: 600px;
  margin: 0 auto;
}

.skills ul {
  width: 20%;
  margin: 1;
  display: inline-block;
}

.socials {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.socials li {
  display: inline-block;
  margin: 0 10px;
  font-size: 30px;
}

.projects {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.projects li {
  display: inline-block;
  margin: 0 10px;

}

.projects li .square {
  width: 300px;
  height: 200px;
  margin: 40px 20px;
}

.projects .square img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

button {
  border-radius: 5px;
    height: 30px;
    width: 60px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-labels {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.label-email {
  height: 25px;
  width: 420px;
  margin-bottom: 20px;
  border: 1px solid blue;
  border-radius: 5px;
}

.label-message {
  height: 70px;
  width: 420px;
  margin-bottom: 20px;
  border: 1px solid blue;
  border-radius: 5px;
}
